* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #111;
}

#range-cont {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 99999;
  color: #fff;
}

#range-cont label {
  display: block;
}
